{% set title = 'Homepage' %}
{% set h1Title = 'HOMEPAGE' %}

{% from "./partials/footer.njk" import footerMacro %}

{% extends 'layout.njk' %}

{% block body %}
    <h2>Hello, {{ name }}!</h2>
    <a href="/page-two.njk">Second Page</a>
    {{ footerMacro('pageOne') }}
{% endblock %}

