{% from  "./partials/head-tags.html" import headtags %}
{% import "./partials/header.html" as header %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{ headtags() }}
    <link rel="stylesheet" href="../sass/index.scss">
  </head>
  <body>
    <h1 class="page-title">{{h1Title}}</h1>
    <include src="partials/header.html"></include>
    {% block body %}

    {% endblock %}
    <script src="../js/app.js"></script>
  </body>
</html>
