# OS Files
.DS_Store


# Languages Library Folders
vendor/
node_modules/



# Folder Structure
# Ignore the contents of dist folders but keep the folder itself
# https://stackoverflow.com/questions/4250063/how-to-gitignore-all-files-folder-in-a-folder-but-not-the-folder-itself

dist/js/*
!dist/js/.gitkeep

dist/css/*
!dist/css/.gitkeep

dist/imgs/*
!dist/imgs/.gitkeep